body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to right, #ACB6E5, #74ebd5);
    color: #333;
    padding: 0;
}

.manage-users-button {
    background-color: #74ebd5;
    color: #333;
    border: 2px solid #74ebd5;
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1000;
}

.manage-users-button:hover {
    background-color: #ACB6E5;
    color: #ffffff;
    border-color: #ACB6E5;
}

.manage-users-container {
    width: 300px;
    border-radius: 10px;
    padding: 20px;
    text-align: left;
    display: none;
    position: absolute;
    top: 60px;
    left: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    z-index: 1001;
    min-height: 48vh;
    overflow: auto;
    transition: max-height 0.3s ease;
}

.manage-users-container.open {
    display: block;
    max-height: 70vh;
}

.user-input-container {
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin-bottom: 15px;
}

#user-input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.user-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.user-buttons button {
    width: 48%;
}

#user-list {
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background: #f9f9f9;
    width: calc(100% - 20px);
}

#user-list div {
    margin-bottom: 5px;
}

#user-list div:nth-child(even) {
    background-color: #f2f2f2; 
}

.container {
    max-width: 900px;
    width: 100%;
    margin: 100px auto 0 auto; 
    padding: 30px;
    background: #fff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    text-align: center;
    position: relative;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 12px 25px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

button:active {
    transform: scale(0.95);
}

.week-counter {
    padding-top: 8px;
}

.pairs-container {
    position: relative;
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    background-color: transparent;
    padding:35px;
    padding-bottom: 60px; 
}

.team-picker {
    position: absolute;
    justify-content: center;
    margin-top: 17%;
    color: grey;
    width: 100%; 
    text-align: center;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    z-index: 1; 
}

.team-picker-icon {
    margin-right: 5px;
    width: 35px; 
    height: 35px; 
}

.pair {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;    text-align: center;
    width: 150px;
    position: relative;
    font-family: 'Arial', sans-serif;
    color: #333;
}

.team-title-box {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

.pair .team-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    position: relative;
    z-index: 1;
}

.pair .team-member {
    font-size: 14px;
    margin: 5px 0;
    font-weight: normal;
    background-color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

.pair .team-count {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
}

.team-1 { background-color: #2e7d32; color: black; }
.team-2 { background-color: #f9a825; color: black; }
.team-3 { background-color: #cddc39; color: black; }
.team-4 { background-color: #ffeb3b; color: black; }
.team-5 { background-color: #8e24aa; color: black; }
.team-6 { background-color: #039be5; color: black; }
.team-7 { background-color: #fb8c00; color: black; }

#save-jpg-link {
    position: absolute;
    bottom: 10px; 
    right: 20px;
    color: blue;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    padding-top: 10px;
    z-index: 1000;
}

#save-jpg-link:hover {
    background-color:linear-gradient(to right, #ACB6E5, #74ebd5);
    transform: scale(1.05);
}

#save-jpg-link:active {
    transform: scale(0.95);
}

.people-counter {
    color: white;
    padding: 5px;
}

@media (max-width: 768px) {
    .container {
        padding: 20px;
    }

    button {
        width: 100%;
        font-size: 18px;
    }

    .pair {
        font-size: 14px;
        width: 100%;
    }
}
