body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background: linear-gradient(135deg, #74ebd5 0%, #ACB6E5 100%);
    color: #333;
    padding: 0; 
    margin: 0;
}

.navbar {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background: #ffffff; 
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    text-align: center;
    margin-bottom: 5%;
}

.navbar-container {
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.manage-users-button {
    background-color: #74ebd5; 
    color: #333;
    border: 2px solid #74ebd5; 
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.manage-users-button:hover {
    background-color: #ACB6E5; 
    color: #ffffff;
    border-color: #ACB6E5;
}

.manage-users-container {
    height: 0;
    overflow: hidden;
    transition: height 0.5s ease-out;
}

.manage-users-container.open {
    height: 500px; 
}

.container {
    display: flex;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto; 
    padding: 30px;
    background: #fff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    text-align: center;
}

.user-management, .pair-generator {
    flex: 1;
    margin: 0 15px;
}

.user-management {
    border-right: 2px solid #ccc;
    padding-right: 15px;
}

.user-management h1, .pair-generator h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
    font-family: 'Helvetica Neue', sans-serif;
}

.user-input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#user-input {
    width: 200px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.user-buttons {
    display: flex;
    flex-direction: column;
}

.user-buttons button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 5px;
}

.user-buttons button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.user-buttons button:active {
    transform: scale(0.95);
}

.user-list {
    text-align: left;
}

.user-list div {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
}

#generate-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 12px 25px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#generate-button:hover {
    background-color: #218838;
    transform: scale(1.05);
}

#generate-button:active {
    transform: scale(0.95);
}

.pairs-container {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.pair {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); 
    text-align: center;
    width: 150px;
    position: relative;
    font-family: 'Arial', sans-serif;
    color: #333;
}

.pair .team-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.pair .team-member {
    font-size: 14px;
    margin: 5px 0;
    font-weight: normal;
    background-color: white; 
    padding: 5px 10px; 
    border-radius: 5px;
}

.pair .team-count {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.team-1 { background-color: #2e7d32; color: black; }
.team-2 { background-color: #f9a825; color: black; }
.team-3 { background-color: #cddc39; color: black; }
.team-4 { background-color: #ffeb3b; color: black; }
.team-5 { background-color: #8e24aa; color: black; }
.team-6 { background-color: #039be5; color: black; }
.team-7 { background-color: #fb8c00; color: black; }

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        padding: 20px;
    }

    .user-management, .pair-generator {
        border-right: none;
        padding-right: 0;
        margin-bottom: 20px;
    }

    .user-buttons {
        flex-direction: row;
    }

    .user-buttons button {
        margin-bottom: 0;
        margin-right: 5px;
    }

    .pair {
        font-size: 14px;
        width: 100%;
    }
}
